@using Sandbox.ModelEditor
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox.UI

<root class="@( IsHidden ? "" : "visible" )">
	<div class="tab-list">
		<div class="tab" @onclick="@( () => IsHidden = true )">Resume</div>
		<div class="tab" @onclick="@( () => Game.Overlay.ShowBinds() )">Controls</div>
		<div class="tab disabled">Settings</div>
		<div class="tab disabled">Party</div>
		<div style="flex-grow: 1"></div>
		<div class="tab" @onclick="@( () => Scene.LoadFromFile("scenes/new_menu.scene"))">Leave Lobby</div>
		<div class="tab" @onclick="@( () => Game.Close())">Quit Game</div>
	</div>
</root>

@code
{
	public bool IsHidden = true;

	protected override void OnUpdate()
	{
		if ( Input.EscapePressed )
		{
			Input.EscapePressed = false;

			IsHidden = !IsHidden;
			StateHasChanged();
		}
	}

}
