@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@if (Manager is not null)
{
	<root>
	<div class="round-timer">
		<div class="title" style="background-color: rgba(0, 0, 0, 0.4)">@Manager.Countdown</div>
		<div class="title" style="background-color: rgba(0, 0, 0, 0.65)">@Manager.GetGameStateString()</div>
	</div>
	@if (Player.Local is not null)
	{
		<div class="health">
		+ <strong>@(Player.Local.Health)</strong>
	</div>
	}
	@if (Inventory is not null && TeamComponent.Team == Team.Hunters)
	{
		<div class="inventory">
		<div class="item @(Inventory.ActiveIndex == 0 ? "active" : "")">
			<img class="number" src=@CreateInputGlyph( "slot1" ).ResourcePath>
			<div class="weapon">Pistol</div>
		</div>
		<div class="item @(Inventory.ActiveIndex == 1 ? "active" : "")">
			<img class="number" src=@CreateInputGlyph( "slot2" ).ResourcePath>
			<div class="weapon">Knife</div>
		</div>
		<div class="item @(Inventory.ActiveIndex == 2 ? "active" : "")">
			<img class="number" src=@CreateInputGlyph( "slot3" ).ResourcePath>
			<div class="weapon">MP5</div>
		</div>
		<div class="item @( Inventory.ActiveIndex == 3 ? "active" : "" )">
			<img class="number" src=@CreateInputGlyph( "slot4" ).ResourcePath>
			<div class="weapon">M4A4</div>
		</div>
	</div>
	}

		<PopupList />
		<Scoreboard />
		<Crosshair />
		<div class="right"></div>
	</root>
}


@code
{
	public PropHuntManager Manager { get; set; }
	public Inventory Inventory { get; set; }
	public TeamComponent TeamComponent { get; set; }


	protected override void OnStart()
	{
		Manager = Scene.GetAllComponents<PropHuntManager>().FirstOrDefault();
		Inventory = Scene.GetAllComponents<Inventory>().FirstOrDefault(x => !x.IsProxy);
		TeamComponent = Scene.GetAllComponents<TeamComponent>().FirstOrDefault();
	}

	public string RoundTimeUntil()
	{
		var time = Manager.Countdown;
		return Math.Round(time).ToString();
	}

	protected override void OnUpdate()
	{
		
	}

	public static Texture CreateInputGlyph(string keybind)
	{
		var inputGlyph = Input.GetGlyph( keybind, InputGlyphSize.Medium, false );
		return inputGlyph;
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine(Time.Now);
}
